.closebtn {
  color: $white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  cursor: $cursor-pointer;
  padding: 0.6em;
}

.alert {
  background-color: #8b86d1;
  color: rgb(194, 194, 194);
  padding: 0.6em;

  border-radius: 5px;
  margin: 0 auto;
  p {
    color: $white;
  }
}
