.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.traffic-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-flx {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.social-container {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 12px;
  margin: 5px;
  cursor: $cursor-pointer;
  flex-basis: 200px;
}

.social-text {
  padding-left: 10px;
  padding-top: 15px;
}

.social-text p:first-child {
  margin: 0;
  font-weight: bold;
  color: $purple;
}

.social-text p:last-child {
  font-size: 1.9em;
  margin: 0;
  color: #3b3b3b;
}

.settings-slider {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
}

.settings-slider p {
  flex-grow: 2;
}
