@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 70px auto;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    & > * {
      margin: 1em;
    }
  }

  .new-mbrs-activity {
    display: flex;
    flex-direction: column;
  }

  .nav-container {
    padding: 0;
    a {
      width: 92%;
    }
  }

  .nav-icon {
    width: 100%;
    height: 36px;
    border: 3px solid transparent;
    margin: 2em 0 0 0;
    & > img {
      display: block;
      width: 30px;
      margin: auto;
    }
    &:hover {
      border-left: 3px solid lightgreen;
    }
  }
}

@media (min-width: 1024px) {
  .new-mbrs-activity {
    flex-direction: row;
  }

  .new-members-container {
    flex: 1 1 50%;
    width: 50%;
    font-size: 15px;
    border-top: $border-settings;
    border-bottom: $border-settings;
  }

  .recent-activity-container {
    flex: 1 1 50%;
    width: 50%;
    font-size: 15px;
    border-left: $border-settings;
    border-top: $border-settings;
    border-bottom: $border-settings;
  }

  .message-user-settings {
    display: flex;
  }

  .settings-container {
    flex: 1;
  }

  .settings-slider {
    margin-bottom: 8px;
  }
  .settings-container button {
    margin-top: 18px;
  }

  .message-user-container {
    flex: 1;
  }

  textarea {
    height: 90%;
  }
  #button-send {
    margin-top: 1em;
  }

  .settings-select-container {
    margin-top: 2.1em;
  }

  .widget-container-full {
    width: 98%;
  }

  .widget-container-half {
    width: 40vw;
  }

  .daily-traffic-mobile-users {
    display: flex;
  }

  .daily-traffic-section,
  .mobile-users-section {
    flex: 1;
  }

  .message-user-container {
    border-right: $border-settings;
  }

  .daily-traffic-section {
    border-top: $border-settings;
    border-bottom: $border-settings;
    padding: 1.2em;
  }

  .mobile-users-section {
    border-top: $border-settings;
    border-bottom: $border-settings;
    border-left: $border-settings;
    padding: 1.2em;
  }

  .traffic-section {
    padding: 1.2em;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .social-flx {
    margin-bottom: 2.2em;
  }

  .new-members {
    margin: 1em;
  }

  .recent-activity-container h2,
  .new-members-container h2 {
    margin-left: 1.25em;
  }
  .message-user-container {
    padding: 1.25em;
  }
  .settings-container {
    padding: 1.25em;
  }

  .dashboard-container {
    padding-right: 1.2em;
    h1 {
      margin-left: 0.6em;
    }
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .alert {
    margin: 0 1.2em 0 1.2em;
  }

  .social-stats h2 {
    margin-left: 1.125em;
  }

  #input-dashboard {
    width: 250px;
  }
}
