//Colors

$purple: #8b86d1;
$dark-purple: #514f78;
$white: #ffffff;
$grey: #aaaaaa;
$light-grey: #cccccc;
$green: #4caf50;
$light-green: #81c98f;
$transparent-black: rgba(0, 0, 0, 0.15);

//Borders

$border-settings: 1px solid $transparent-black;

// Other

$cursor-pointer: pointer;
